*{
  margin: 0px;
}
.App {
  text-align: center;
  height: 100vh;
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 100vw; */
}

#buttons{
  display: flex;
  justify-content: flex-start;
}
.button{
  width: fit-content;
  height: 30px;
}

#nav{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}
#nav>h3{
  width: 10%;
}

.contacts{
  display: flex;
  align-items: center;
  gap: 25px;
}
.img{
  height: 10rem;
}
.text{
  width: 10%;
  font-weight: 400;
  font-size: 30px;
}
